.about{
    color: white;
    display: flex;
    gap: 10px;
}

.title, .content{
    
    
    width: 45%;
    height: 100%;
    padding: 2em;
}

.title{
    display: flex;
}

.content{
    left: 50vh;
}

.number{
    font-size: 60px;
    font-weight: 400; 
    position: fixed;
    top: 10%;
}

.number span{
    color: gray;
    font-size: 40px;
}

.subtitles{
    background-color: black;
    position: fixed;
    top : 40%;
    display: flex;
    flex-direction: column;
    gap: 200px;
    height: 100px;
    overflow: hidden;
    font-size: 40px;
    
}


.scroll{
    position: fixed;
    overflow: hidden;
    top: 70%;
    padding-left: 5px;
}

.scroll span{
    position: absolute;
top: -30px;
left: 0;
    background-color: white;
    height: 20px;
    width: 2px;
    display: inline-block;
    
    animation: moving 2s linear infinite;
transform: translateY(40px);

}

.up span{
    position: absolute;
bottom: -30px;
left: 0;
    background-color: white;
    height: 20px;
    width: 2px;
    display: inline-block;
    
    animation: movingUp 2s linear infinite;
transform: translateY(40px);

}

.scroll p{
    position: block;
    left: 0;
    top: 0;
}

@media screen and (max-width:800px) {

}