.project{
  background-color: black;
  color: white;
  animation: bg-slide 1s ease-in-out;
  
  min-height: 100vh;
}



.project .logo-container{
  top: 3%;
  position: fixed;
}

.project-content{
  
  min-height: 100vh;
  padding-top: 150px ;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project .subtitle{
  font-size: 4rem;
  text-align: left;
  text-decoration: none;
  margin-bottom: 0;
background-color: black;  
}

@media screen and (max-width: 1000px) {
  .project .subtitle{
    text-align: center;
    font-size: 3rem;
    
  }
}

@media screen and (max-width: 800px){
  .project .subtitle{
    text-align: center;
    font-size: 30px;
    
  }

  .project-content{
    padding-top: 60px;
  }
} 

.project .subtitle span{
  display: block;
}

.works-element-container{
  
  flex: 1 ;
  display: flex;
  
}

.page-number{

  margin-bottom: 20px;
  font-size: 30px;
 text-align: center;
}

.arrow:hover{
cursor: pointer;
}

.project .contents{
  height: auto;
  
  
}

