.App{
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  

}

.header{
  
  height: 10vh;
}

.middle{
  
  flex: 1;
  display: flex;
  
}

.body{
  
  
  flex: 1;
  
  
  
}


.menus{
  
  height: 100%;
  
}



.footer{
  background-color: bisque;
  height: 10vh;
}

@keyframes enter{
  0% {transform: translateY(100%);width: 10px;}
  50% {transform: translateY(0);width: 10px;}
  100% {transform: translateY(0);}
  
}