*{
  box-sizing: border-box;
  list-style: none;
}

.header{
  grid-area: header;
  
  
}

.menu{
  grid-area: men;
 
 
 
}

.body{
  grid-area: body;
 background-color: aliceblue;
}

.App{
  display: grid;
  grid-template-areas: 
  'header header header'
  'body body men'
  'body body men';
  grid-template-columns: 1fr ;
  grid-template-rows: min-content auto;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width:800px) {
.App{
  grid-template-areas: 
  'header header men'
  'body body men'
  'body body men';
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr;
}
  
}