body {
  margin: 0;
  font-family: 'Inter', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: black;
  font-weight: 400;
  
  
}

.section-title{
  font-weight: 600;
  font-style: italic;
  font-size: 64px;
}