body {
  margin: 0;
  font-family: 'Inter', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: black;
  font-weight: 400;
  font-size: 1em;
  box-sizing: border-box;
  overflow: hidden;
  
}

.section-title{
  font-weight: 600;
  font-style: italic;
  font-size: 3em;
  color: black;
  text-decoration: none;
}

